@import data.dto.page.PageContent
@(pageContent:PageContent)

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@pageContent.getPageTitle()</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href='@routes.Assets.versioned("plugins/fontawesome-free/css/all.min.css")'>
    <!-- Theme style -->
    <link rel="stylesheet" href='@routes.Assets.versioned("css/adminlte.min.css")'>


    <!-- REQUIRED SCRIPTS -->
    <!-- jQuery -->
    <script src='@routes.Assets.versioned("plugins/jquery/jquery.min.js")'></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!-- Bootstrap 4 -->
    <script src='@routes.Assets.versioned("plugins/bootstrap/js/bootstrap.bundle.min.js")'></script>
    <!-- AdminLTE App -->
    <script src='@routes.Assets.versioned("js/adminlte.min.js")'></script>
</head>