@import data.dto.page.PageContent
@(pageContent:PageContent)

<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index.html" class="brand-link">
        <span class="brand-text font-weight-light">LOGaritmical</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
                <li class="nav-header">Platform Administration</li>
                <li class="nav-item">
                    <a href="viewLogFormats.html" class="nav-link">
                        <i class="nav-icon far fa-edit"></i>
                        <p>
                            Manage log formats
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@routes.LogFormatController.createLogFormat()" class="nav-link">
                        <i class="nav-icon far fa-plus-square"></i>
                        <p>
                            Create log format
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>